footer{
    display: flex;
    justify-content: space-around;
  }
  
  h1{
    margin: 0;
  }
  /*#########################*/
  .first-blog{
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  
  .second-blog{
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  
  .third-blog{
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  /*########################*/
  
  .images{
    margin: 30px;
    display: flex;
    justify-content: space-between;
  
  }
  .img1 img{
   width:300px;
   height:300px;
   margin: 20px;
  }
  .img2 img{
    width: 300px;
    height: 300px;
    margin: 20px;
  }
  
  
  .column{
    display: flex;
  }
  .column1{
    text-align: center;
    color:white;
    padding-top:10%;
    background-color:#3d4f5d ;
    width: 25%;
    padding-right:10px;
  }
  
  .column2{
    width: 75%;
    order:1;
    margin-left:6%;
  }
  
  .post-title{
    color: grey;
    border-bottom: 1px solid lightgrey;
  }
  
  .green-bk{
    background-color:#5aba59;
  }
  
  .blue-bk{
    background-color: #4d85d1;
  
  }
  
  .red-bk{
    background-color: #df2e50;
  }
  
  .gray-bk{
    background-color: #999999;
  }
  .colored-word{
    color:lightgray;
    padding: 5px;
  }
  
  a{
    text-decoration: none;
    color: lightblue;
  }
  
  
  .grey-color{
    color:grey;
    font-size:10px;
    
  }
  
  .avatar{
    justify-self: end;
    align-self: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  
  
  .border{
    
  border: 2px solid lightblue;
  color:white;
  padding: 5px;
  }
  
  @media  screen and (max-width: 600px){

.column{
  display: block;
}
.column2{
    width: 90%;
}
.column1{
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.images{
  display: block;
}
.img1,
.img2{
    width: 80vw;
    margin: 10px 0px;
}



}
